{% extends 'index.html' %}

{% block body %}

<div class="container" id="myrow">
    <div class="row">
        <pre>
            Welcome to Image Classification Web App with Machine Learning Model.
                
                -This is a project of Hiratan Technologies
                -This project is developed by Deepak Yadav.
                -Follow us on Facebook , Instagram , Github , Website

                
        </pre>
    </div>
</div>
<style>
    #myrow {
        background-color: #EBEDEF;
    }
</style>

{% endblock %}